<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/join}"
      lang="kr">
<body>
<div layout:fragment="content">
    <table>
        <tr th:if="${members == null}">
            <th>#</th>
            <th>이름</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.getName()}"></td>
            <td th:text="${member.getPasswd()}"></td>
        </tr>

    </table>
</div>
</body>
</html>