<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<div th:block th:replace="/fragment/head :: head"></div>
<body>
<div th:block th:replace="/fragment/navbar :: navbar"></div>
<div>
    <table>
        <tr>
            <th>#</th>
            <th>이름</th>
        </tr>
        <tr th:each="member : ${members}">
            <td th:text="${member.getName()}"></td>
            <td th:text="${member.getPasswd()}"></td>
        </tr>

    </table>
</div>
<div th:block th:replace="/fragment/footer :: footer"></div>
</body>
</html>