<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/join}"
      lang="kr">

<div layout:fragment="content" class="container">
    <div class="row">
        <div class="col-4">

        </div>
        <div class="col-4">
            <form method="post" action="/post_list/post_create" entype="multipart/form-data">
                <div>
                    <label for="title">제목</label>
                    <input id="title" name="title" type="text" placeholder="제목을 입력하세요" class="form-control">
                    <label for="content">본문</label>
                    <textarea id="content" name="content" style="height:300px;" placeholder="본문을 입력하세요"
                              class="form-control"></textarea>
                </div>
                <button type="submit" style="float:right;" class=" btn btn-primary">제출</button>
            </form>
        </div>
        <div class="col-4">

        </div>
    </div>
</div>

</html>