<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/join}"
      lang="kr">

<div layout:fragment="content">
    <div class="row">
        <div class="col-2">

        </div>
        <div class="col-8">
            <h1> hello</h1>
            <h1 th:text="${post.getTitle()}"></h1>
            <br>
            <h3>Content</h3>
            <br>
            <textarea th:text="${post.getContent()}"></textarea>
        </div>
        <div class="col-2">

        </div>
    </div>
</div>

</html>