<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/join}"
      lang="kr">
<th:block layout:fragment="content">
    <div class="container" height="800">
        <h1 class="float-right">Good News123</h1>
        <a role="button" class="btn btn-primary float-right">button</a>
        <button class="btn btn-primary float-right">button2</button>
        <button righ="10px" class="btn btn-primary" bottom="100px">button3</button>
    </div>


</th:block>
</html>